# object files
*.obj

# symbol files
*.sym

# battery saves (the demo ROM shouldn't create any of these but let's put it here just to be safe)
*.sav

# nezplug++ ini file
nezplay.ini

# bgb save states
*.sn*